*{
  margin: 0px;
  padding: 0px;
  font-family: helvetica, sans-serif;
  align-self: center;
}

body{
  background-color: whitesmoke;
}

h1{
  font-size: 10vh;
}

h2{
  font-size: 6vh;
}

p{
  font-size: 4vh;
}


nav{
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 15vh;
  background-color: #0071bc;
  margin: 0px;
  padding: 0px;

}

iframe{
  align-self: center;
}

.navitem{
  margin: 2vw;
  align-self: center;
  color: white;
  font-size: 3vh;
  opacity: 0.8;
}

.selecteditem{
  margin: 2vw;
  align-self: center;
  color: white;
  font-size: 3vh;
  font-weight: bold;
  opacity: 1.0;
}

.logo{
  margin: 2vw, 2vw, 0vw, 2vw;
  align-self: center;
  opacity: 1.0;
}

.main{
  margin: 0vw;
  display: flex;
  flex-direction: column;
}

.mainsection{
  width: 100%;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}



.mainsection h1{
  margin: 3vh;
}

.classes{
  margin: 3vh;
}

.grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.shopitem{
  margin: 1.5vh;
  padding: 1vh;
  height: 50vh;
  width: 40vh;
  border: 5px solid #0071bc;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.shopitem h1{
  font-size: 5vh;
  margin: 3vh 0vh 1vh 0vh;
}

.buy{
  background-color: #0071bc;
  color: white;
  font-size: 4vh;
  padding: 1vh;
  margin: 2vh 2vh 4vh 2vh
}

.buy:hover{
  background-color: #0061a2;
}



a{
  text-decoration: none;
  color: white;
}

