*{
  margin: 0px;
  padding: 0px;
  font-family: helvetica, sans-serif;
  align-self: center;
}

body{
  background-color: whitesmoke;
}

h1{
  font-size: 10vh;
}


nav{
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 15vh;
  background-color: #0071bc;
  margin: 0px;
  padding: 0px;

}

.navitem{
  margin: 2vw;
  align-self: center;
  color: white;
  font-size: 3vh;
  opacity: 0.8;
}

.selecteditem{
  margin: 2vw;
  align-self: center;
  color: white;
  font-size: 3vh;
  font-weight: bold;
  opacity: 1.0;
}

.logo{
  margin: 2vw, 2vw, 0vw, 2vw;
  align-self: center;
  opacity: 1.0;
}

.main{
  margin: 0vw;
  display: flex;
  flex-direction: column;
}

.mainsection{
  margin-bottom: 5vh;
  display: flex;
  flex-direction: row;
}

.mainsection h1{
  margin: 3vh;
}

.classes{
  margin: 3vh;
  display: flex;
  flex-direction: column;
  justify-items: left;
}


a{
  text-decoration: none;
  color: white;
}

